*{box-sizing: border-box;}

body{
	background-color:#f8f8ff;
}


header{
	text-indent: 30px;
	
}
.logo{
	width:200px;
	height:130px;
	color: red;
	margin-top: 0;
	
}
.ray{
	position:relative;
	bottom:40px;
	display: inline-block;
	right: 50px;
	
}

.icon{
	
	float:right;
	width: 40px;
	height: 40px;
}
.container{
	width:1280px;
	height:100%;
	position:relative;
	bottom: 40px;
	font-family:'Skranji', cursive;
	margin: 0 auto;
	
}

h1{
color: brown;
font-family: 'Skranji', cursive;
}


nav{
margin: 0 auto;
width: 1280px;
padding: 10px;	
border: 1px solid black;
background:black;
text-align: center;

}

nav a{
color: yellow;
display: inline-block;
padding: 20px;
}
nav a:hover{
background:red;
text-decoration: underline;
}
section img{
	height:500px;
	width:1280px;
	
}
article{	
	font-family:'Montserrat', sans-serif;
	
}
article h3{
    margin-top: 0;
	font-size:30px;
	text-align:center;
}
article img{
	width:50%;
	float:left;
	padding:20px;
	height: 250px;
}
p{
	display: inline-block;
}
.p2{
	float:right;
	
}